.label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 50px;
}

.input {
  padding: 5px 10px;
  border-radius: 4px;
  border: none;
  &:focus {
    outline: 1px solid orange;
  }
}
