.wrapper {
  width: 100%;
  min-height: 100vh;
  padding: 72px 0 50px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
