.wrapper {
  position: absolute;
  top: 78px;
  left: 50%;
  width: 768px;
  transform: translateX(-50%);
}

.btns {
  display: flex;
  justify-content: space-between;
  padding: 48px;
}

.link {
  padding: 24px 48px;
  background-color: #925f01;
  border-radius: 8px;
  color: white;
  text-decoration: none;
}
